.header-nav-1 {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #686868;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.dropdown-icon {
  font-size: 0.7em;
  margin-left: 0.3em;
}

.header-nav-2 {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.login-btn {
  text-decoration: none;
  color: #686868;
  font-weight: 500;
}

.register-btn {
  padding: 0.75rem 1.5rem;
  border: 2px solid #686868;
  background: transparent;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
}